<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.xedrux.cclouds"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk
            android:minSdkVersion="7"
            android:targetSdkVersion="22"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>

    <application android:label="@string/appName"
                 android:icon="@drawable/cclouds_icon"
                 android:theme="@style/Theme.AppCompat.Light">

        <activity android:name=".views.usuario.Login"
                  android:label="@string/appName"
                  android:screenOrientation="portrait"
        >
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>-->
        </activity>
        <activity android:name=".utils.Preferences" android:label="@string/appPreferences"
                  android:screenOrientation="portrait"
                  android:theme="@style/Theme.AppCompat.Light">
        </activity>
        <activity android:name=".views.usuario.ContactsListActivity" android:label="@string/appName"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".views.usuario.UsuariosListActivity" android:label="@string/appName"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".views.usuario.Register" android:label="@string/appRegister"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".views.usuario.UserProfile" android:label="@string/userProfile"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".views.usuario.TermsAndConditions" android:label="@string/termsAndConditionsAgreements"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".views.usuario.ContactSynch" android:label="@string/appName"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activities.SendEmailAddress" android:label="@string/appName"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activities.MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.LanguajeActivity"
                  android:label="@string/language"
                  android:theme="@style/Theme.AppCompat.Light"
                  android:screenOrientation="portrait"
        >
        </activity>
        <activity android:name=".views.usuario.About"
                  android:label="@string/appAbout"
                  android:theme="@style/Theme.AppCompat.Light"
                  android:screenOrientation="portrait"
        >
        </activity>
        <activity android:name=".views.usuario.FirstTimeSync"/>
        <activity android:name=".views.usuario.ContactsListTest"/>
        <activity android:name=".views.usuario.Contacts"/>
        <activity android:name=".activities.ContactRestore"/>
        <service android:name=".services.CcloudsService" android:exported="false">
            <receiver android:name="com.xedrux.cclouds.utils.NetworkStateChangesReceiver">

            </receiver>
        </service>
        <service android:name=".services.NetworkActions"></service>

    </application>
</manifest>
